<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Chats</h2><br>
    <form method="get" action="/chats/new">
        <button> New Chat </button>
    </form>
    <br><br>

    <% for(let chat of chats){ %>
        <div class="chat">
            <h2 class="from"><%= chat.from %></h2>
            <h2 class="to"><%= chat.to %></h2>
            <p class="msg"> Message : <%= chat.msg %></p>
            <button> Edit Chat </button>
            <button> Delete Chat </button>
        </div><br>
    <% } %>
</body>
</html>
